/* ==========================================================================
   Table of Contents
   /*
    1.btnfire
    2.Simple Grid
*/

 /* btnfire
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btnfire {
  display: inline-block;
  border-radius: 3px;
  padding: 13px 22px 16px;
  color: #fff !important;
  border: none !important;
  outline: none;
  text-decoration: none;
  background: #202020;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  white-space: nowrap;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: inset 0 -100px 0 transparent;
  -webkit-appearance: none;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.btnfire:hover {
  -webkit-transition: 0.25s !important;
  transition: 0.25s !important;
  opacity: 1;
  box-shadow: inset 0 -100px 0 rgba(0, 0, 0, 0.075),
    0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
  border-bottom: 0 !important;
}
.btnfire:active {
  -webkit-transition: opacity 0.25s, top 0.25s, -webkit-transform 0.25s !important;
  transition: opacity 0.25s, top 0.25s, -webkit-transform 0.25s !important;
  transition: transform 0.25s, opacity 0.25s, top 0.25s !important;
  transition: transform 0.25s, opacity 0.25s, top 0.25s, -webkit-transform 0.25s !important;
  box-shadow: inset 0 -100px 0 rgba(0, 0, 0, 0.2),
    0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1),
    0 1px 4px -1px rgba(0, 0, 0, 0.1);
  top: 1px;
}
.btnfire.uppercase {
  font-size: 17px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.btnfire.round {
  border-radius: 99px;
  padding-left: 28px;
  padding-right: 28px;
}
.btnfire.rounded {
  border-radius: 6px;
}
.btnfire.square {
  border-radius: 0px;
}
.btnfire.stroke {
  color: #303030 !important;
  border: 2px solid !important;
  background-color: transparent !important;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 23px;
}
.btnfire.stroke.round {
  padding-left: 26px;
  padding-right: 26px;
}
.btnfire.stroke.uppercase {
  padding-top: 14px;
  padding-bottom: 14px;
}
.btnfire.stroke.uppercase.small {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
}
.btnfire.stroke.small {
  border: 1px solid;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .btnfire.stroke.big {
    padding-top: 17px;
    padding-bottom: 21px;
  }
  .btnfire.stroke.big.uppercase {
    padding-top: 20px;
    padding-bottom: 23px;
  }
}
.btnfire.stroke:hover {
  box-shadow: inset 0 -100px 0 rgba(41, 41, 41, 0.05),
    0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
}
.btnfire.small {
  font-size: 17px;
  font-weight: 500;
  padding: 9px 14px 9px;
}
.btnfire.small.round {
  padding-left: 18px;
  padding-right: 18px;
}
.btnfire.small.rounded {
  border-radius: 5px;
}
.btnfire.small.uppercase {
  font-size: 15px;
  padding: 10px 16px 11px;
}
.btnfire.small.uppercase.round {
  padding-left: 19px;
  padding-right: 19px;
}
@media (min-width: 768px) {
  .btnfire.big {
    font-size: 30px;
    padding: 19px 32px 23px;
  }
  .btnfire.big.round {
    padding-left: 42px;
    padding-right: 42px;
  }
  .btnfire.big.rounded {
    border-radius: 7px;
  }
  .btnfire.big.uppercase {
    font-size: 26px;
    padding: 22px 30px 25px;
  }
  .btnfire.big.uppercase.round {
    padding-left: 42px;
    padding-right: 42px;
  }
}
.btnfire.empty {
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  font-size: 0 !important;
  margin: 0;
}
.btnfire.hollow {
  padding: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  font-size: 0 !important;
}
.btnfire.shade {
  position: relative;
}
.btnfire.shade:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #292929;
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.btnfire.shade:hover:after {
  opacity: 0.15;
}
.btnfire.shade:active:after {
  opacity: 0.2;
}
.btnfire.play:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.btnfire.lowercase {
  text-transform: lowercase;
  letter-spacing: 0em;
  font-weight: 300;
}
@media (max-width: 319px) {
  .btnfire.uppercase,
  .uppercase {
    letter-spacing: 0.07em;
  }
}
.btnfire-white {
  background: #fff !important;
  color: #202020 !important;
}
.stroke.btnfire.btnfire-white {
  color: #fff !important;
  border-color: #fff !important;
}
.btnfire-black {
  background: #202020 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-black {
  color: #202020 !important;
  border-color: #202020 !important;
}
.btnfire-red {
  background: #f44336 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-red {
  color: #f44336 !important;
  border-color: #f44336 !important;
}
.btnfire-pink {
  background: #e91e63 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-pink {
  color: #e91e63 !important;
  border-color: #e91e63 !important;
}
.btnfire-purple {
  background: #9c27b0 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-purple {
  color: #9c27b0 !important;
  border-color: #9c27b0 !important;
}
.btnfire-deepPurple {
  background: #673ab7 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-deepPurple {
  color: #673ab7 !important;
  border-color: #673ab7 !important;
}
.btnfire-indigo {
  background: #3f51b5 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-indigo {
  color: #3f51b5 !important;
  border-color: #3f51b5 !important;
}
.btnfire-blue {
  background: #2196f3 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-blue {
  color: #2196f3 !important;
  border-color: #2196f3 !important;
}
.btnfire-cyan {
  background: #00bcd4 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-cyan {
  color: #00bcd4 !important;
  border-color: #00bcd4 !important;
}
.btnfire-teal {
  background: #009688 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-teal {
  color: #009688 !important;
  border-color: #009688 !important;
}
.btnfire-green {
  background: #4caf50 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-green {
  color: #4caf50 !important;
  border-color: #4caf50 !important;
}
.btnfire-lightGreen {
  background: #8bc34a !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-lightGreen {
  color: #8bc34a !important;
  border-color: #8bc34a !important;
}
.btnfire-lime {
  background: #cddc39 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-lime {
  color: #cddc39 !important;
  border-color: #cddc39 !important;
}
.btnfire-yellow {
  background: #ffeb3b !important;
  color: #202020 !important;
}
.stroke.btnfire.btnfire-yellow {
  color: #ffeb3b !important;
  border-color: #ffeb3b !important;
}
.btnfire-amber {
  background: #ffc107 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-amber {
  color: #ffc107 !important;
  border-color: #ffc107 !important;
}
.btnfire-orange {
  background: #ff9800 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-orange {
  color: #ff9800 !important;
  border-color: #ff9800 !important;
}
.btnfire-deepOrange {
  background: #ff5722 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-deepOrange {
  color: #ff5722 !important;
  border-color: #ff5722 !important;
}
.btnfire-brown {
  background: #795548 !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-brown {
  color: #795548 !important;
  border-color: #795548 !important;
}
.btnfire-gray {
  background: #9e9e9e !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-gray {
  color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}
.btnfire-blueGray {
  background: #607d8b !important;
  color: #fff !important;
}
.stroke.btnfire.btnfire-blueGray {
  color: #607d8b !important;
  border-color: #607d8b !important;
}

 /*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

[class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
	margin-left: 50%;
}

.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
	margin-left: 25%;
}

.push-1-5 {
	margin-left: 20%;
}

.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}

.push-1-7 {
	margin-left: 14.28%;
}

.push-1-8 {
	margin-left: 12.5%;
}

.push-1-9 {
	margin-left: 11.1%;
}

.push-1-10 {
	margin-left: 10%;
}

.push-1-11 {
	margin-left: 9.09%;
}

.push-1-12 {
	margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px; /* column-space */
	}

	[class*='col-'] [class*='col-'] {
		padding-right: 0;
	}

	/* Mobile Layout */

	[class*='mobile-col-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

	.mobile-col-1-1 {
		width: 100%;
	}
	.mobile-col-2-3, .mobile-col-8-12 {
		width: 66.66%;
	}

	.mobile-col-1-2, .mobile-col-6-12 {
		width: 50%;
	}

	.mobile-col-1-3, .mobile-col-4-12 {
		width: 33.33%;
	}

	.mobile-col-1-4, .mobile-col-3-12 {
		width: 25%;
	}

	.mobile-col-1-5 {
		width: 20%;
	}

	.mobile-col-1-6, .mobile-col-2-12 {
		width: 16.667%;
	}

	.mobile-col-1-7 {
		width: 14.28%;
	}

	.mobile-col-1-8 {
		width: 12.5%;
	}

	.mobile-col-1-9 {
		width: 11.1%;
	}

	.mobile-col-1-10 {
		width: 10%;
	}

	.mobile-col-1-11 {
		width: 9.09%;
	}

	.mobile-col-1-12 {
		width: 8.33%
	}

	/* Layout Columns */

	.mobile-col-11-12 {
		width: 91.66%
	}

	.mobile-col-10-12 {
		width: 83.333%;
	}

	.mobile-col-9-12 {
		width: 75%;
	}

	.mobile-col-5-12 {
		width: 41.66%;
	}

	.mobile-col-7-12 {
		width: 58.33%
	}

	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
